<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Balandžių dresuotojai</title>
</head>
<body id="about">
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a class="active" href="../templates/about.html">Apie Mus</a></li>
            <li><a href="../templates/services.html">Paslaugos</a></li>
            <li><a href="../templates/projects.html">Projektai</a></li>
            <li><a href="../templates/contact.html">Kontaktai</a></li>
        </ul>
    </nav>

    <header>
        <h1>Apie mus</h1>
    </header>

    <main>
        <div class="container">
            <div class="box">
                <div class="tex">
                    <h2>Balandžių dresuotojai</h2>
                    <p>Jau 15 metų veikiantis Balandžių universitetas</p>
                    <p>Esame nr. 1 visoje Europoje</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In magnam vero sapiente molestiae, excepturi modi officia animi adipisci veniam. Odio, corrupti officia dolores, maxime nulla necessitatibus, minus ex distinctio nihil ipsa cupiditate accusantium tempore quas. Reiciendis magni expedita temporibus labore corrupti quasi voluptatem asperiores, maxime repudiandae blanditiis voluptatum placeat eligendi.</p>
                </div>
                <div class="img"></div>
            </div>
            <div class="box">
                <div class="card">
                    <img src="../img/drew-dau-0SukTvdAx7A-unsplash.jpg" alt="" srcset="">
                    <h3>Lektorius Martynas</h3>
                    <p>Balandžių dresavimas yra mano gyvenimas</p>
                </div>
                <div class="card">
                    <img src="../img/gabriel-tovar-D4pGALymhx0-unsplash.jpg" alt="" srcset="">
                    <h3>Projektų Vadovas Tomas</h3>
                    <p>Su Balandžiais randu bendrą kalbą</p>
                </div>
                <div class="card">
                    <img src="../img/ali-hajian-WyDLo5GmDRU-unsplash.jpg" alt="" srcset="">
                    <h3>Skraidymo instruktorė Inga</h3>
                    <p>Svarbiausias yra pirmas skrydis</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <ul>
            <li><a target="_blank" href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a target="_blank" href="http://youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a target="_blank" href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="http://github.com"><i class="fa-brands fa-github"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </footer>
    
</body>
</html>